/*Header Styling*/
.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1.5px;
    background: #1d1d35 !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;   	
}




/*Logo Styling*/
.navbar-brand img {
    height: 50px;

}

/* Header Menu Styling */  
.navbar-nav li {
    padding-right: 11px;
}
.navbar-dark .navbar-nav .nav-link {
    color: #0785D1;    
    
}

/*Dropdown Menu Font size*/
.dropdown-item {
	font-size: 12px;
	font-weight: 400;	
}

/* Header Menu Hover Styling */
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: white !important;
    
}



/*Styling for Responsive Design*/
 @media (max-width: 768px) {

    /*RightSide Menu*/
    .navbar-collapse.collapsing,
    .navbar-collapse.show {
    text-align : center; 
    }

    
  }
  
  .content {
  	margin-top: 11px !important;
  	min-height: 100vh;
  }
  
  
  

