.googleSignIn {   
    text-align: center;
}

.googleSignIn hr {
    border-top: 1px solid  #29b1e5;
}

.form-control {
	border: 1px solid black;
	border-radius: 5px;
}

.login {
	border-radius: 25px;
	background: #0785D1;
}

.login.active,
.login:hover {
	background:  #1d1d35; 
}

